In [1]:
import pandas as pd
import os as os
# Read the data and make dataframe.
df = pd.read_csv(f"{os.getcwd()}/data/india-districts-census-2011.csv")

In [2]:
# Set the district code as indexes
df.set_index("District code")
df.style.set_caption("Indian Census 2011")
df

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,16610,19860,144,...,2316,4309,1370,838,2208,576,978,1554,1446,10027
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,79903,75013,35348,...,1063,2408,665,340,1005,246,483,729,341,4890
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,15397,9935,0,...,685,1895,212,134,346,70,120,190,84,3151
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,43186,35497,0,...,685,1895,212,134,346,70,120,190,84,3151
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,105794,84472,0,...,1371,3020,649,368,1017,265,497,762,376,5782

In [3]:
#Show data related to Districts Mumbai,New Delhi and Kolkata.
df[df["District name"].isin(["Mumbai","New Delhi","Kolkata"])]

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
93,94,NCT OF DELHI,New Delhi,142004,77942,64062,114179,65678,48501,33245,...,1903,3584,589,582,1171,482,567,1049,769,7151
341,342,WEST BENGAL,Kolkata,4496694,2356766,2139928,3588137,1926915,1661222,241932,...,4507,5979,2097,2287,4384,863,1402,2265,3383,16375
518,519,MAHARASHTRA,Mumbai,3085411,1684608,1400803,2509022,1410680,1098342,219934,...,10334,13819,10835,3595,14430,5027,7597,12624,18289,60163

In [4]:
# Calculate state wise 
# Total populations 
stateWise_TotalPopulations = df.groupby('State name')['Population'].sum().sort_values(ascending=True)
print(stateWise_TotalPopulations)

State name
LAKSHADWEEP                        64473
DAMAN AND DIU                     243247
DADRA AND NAGAR HAVELI            343709
ANDAMAN AND NICOBAR ISLANDS       380581
SIKKIM                            610577
CHANDIGARH                       1055450
MIZORAM                          1097206
PONDICHERRY                      1247953
ARUNACHAL PRADESH                1383727
GOA                              1458545
NAGALAND                         1978502
MANIPUR                          2855794
MEGHALAYA                        2966889
TRIPURA                          3673917
HIMACHAL PRADESH                 6864602
UTTARAKHAND                     10086292
JAMMU AND KASHMIR               12541302
NCT OF DELHI                    16787941
HARYANA                         25351462
CHHATTISGARH                    25545198
PUNJAB                          27743338
ASSAM                           31205576
JHARKHAND                       32988134
KERALA                          33406061
ORISSA                          41974218
GUJARAT                         60439692
KARNATAKA                       61095297
RAJASTHAN                       68548437
TAMIL NADU                      72147030
MADHYA PRADESH                  72626809
ANDHRA PRADESH                  84580777
WEST BENGAL                     91276115
BIHAR                          104099452
MAHARASHTRA                    112374333
UTTAR PRADESH                  199812341
Name: Population, dtype: int64

In [8]:
list(df.columns)

['District code',
 'State name',
 'District name',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Male_Literate',
 'Female_Literate',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Rural_Households',
 'Urban_Households',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Age_Group_0_29',
 'Age_Group_30_49',
 'Age_Group_50',
 'Age not stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity']

In [11]:
### Calculate state wise
# Religion wise total populations
df.groupby('State name')['Hindus', 'Muslims','Christians','Jains', 'Buddhists','Sikhs', 'Others_Religions','Religion_Not_Stated'
].sum().sort_values(by='State name',ascending=True)

/tmp/ipykernel_34594/705171104.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('State name')['Hindus', 'Muslims','Christians','Jains', 'Buddhists','Sikhs', 'Others_Religions','Religion_Not_Stated'

,Hindus,Muslims,Christians,Jains,Buddhists,Sikhs,Others_Religions,Religion_Not_Stated
State name,,,,,,,,
ANDAMAN AND NICOBAR ISLANDS,264296,32413,80984,31,338,1286,564,669
ANDHRA PRADESH,74824149,8082412,1129784,53849,36692,40244,9547,404100
ARUNACHAL PRADESH,401876,27045,418732,771,162815,3287,362553,6648
ASSAM,19180759,10679345,1165867,25949,54993,20672,27118,50873
BIHAR,86078686,17557809,129247,18914,25453,23779,13437,252127
CHANDIGARH,852574,51447,8720,1960,1160,138329,246,1014
CHHATTISGARH,23819789,514998,490542,61510,70467,70036,494594,23262
DADRA AND NAGAR HAVELI,322857,12922,5113,1186,634,217,293,487
DAMAN AND DIU,220150,19277,2820,287,217,172,79,245
GOA,963877,121564,366130,1109,1095,1473,258,3039
GUJARAT,53533988,5846761,316178,579654,30483,58246,16480,57902
HARYANA,22171128,1781342,50353,52613,7514,1243752,2548,42212
HIMACHAL PRADESH,6532765,149881,12646,1805,78659,79896,856,8094
JAMMU AND KASHMIR,3566674,8567485,35631,2490,112584,234848,1508,20082
JHARKHAND,22376051,4793994,1418608,14974,8956,71422,4235786,68343
KARNATAKA,51317472,7893065,1142647,440280,95710,28773,11263,166087
KERALA,18282492,8873472,6141269,4489,4752,3814,7618,88155
LAKSHADWEEP,1788,62268,317,11,10,8,7,64
MADHYA PRADESH,66007121,4774695,213282,567028,216052,151412,599594,97625
MAHARASHTRA,89703057,12971152,1080073,1400349,6531200,223247,178965,286290
MANIPUR,1181876,239836,1179043,1692,7084,1527,233767,10969
MEGHALAYA,342078,130399,2213027,627,9864,3045,258271,9578
MIZORAM,30136,14832,956331,376,93411,286,808,1026
NAGALAND,173054,48963,1739651,2655,6759,1890,3214,2316
NCT OF DELHI,13712100,2158684,146093,166231,18449,570581,2197,13606
ORISSA,39300341,911670,1161708,9420,13852,21991,478317,76919
PONDICHERRY,1089409,75556,78550,1400,451,297,168,2122
PUNJAB,10678138,535489,348230,45040,33237,16004754,10886,87564
RAJASTHAN,60657103,6215377,96430,622023,12185,872930,4676,67713
SIKKIM,352662,9867,60522,314,167216,1868,16300,1828
TAMIL NADU,63188168,4229479,4418331,89265,11186,14601,7414,188586
TRIPURA,3063903,316042,159882,860,125385,1070,1514,5261
UTTAR PRADESH,159312654,38483967,356448,213267,206285,643500,13598,582622
UTTARAKHAND,8368636,1406825,37781,9183,14926,236340,993,11608
WEST BENGAL,64385546,24654825,658618,60141,282898,63523,942297,228267

In [15]:
#How many male workers are there in maharastra?
df[df['State name']=='MAHARASHTRA']['Male_Workers'].sum()

32616875